<div class="container" style="padding-top:25px;">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="jumbotron projects-jumbotron" style="padding:25px; margin:0; border-bottom-left-radius:0; border-bottom-right-radius:0; border-bottom:0;">
        <div class="container">
          <h1 class="text-center" style="margin:0;"><big class="icon-user" style="display: block;"></big>
            Editar Perfil</h1>
        </div>
      </div>
      <div class="project">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <label for="" class="control-label">Nome</label>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <label for="" class="control-label">Descrição</label>
            <%= f.text_area :description, autofocus: true, class: "form-control", rows: "6", col: "50"  %>
          </div>

          <div class="form-group">
            <label for="" class="control-label">Email</label>
            <%= f.email_field :email, autofocus: true, class: "form-control"  %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <label for="" class="control-label">Password<br> <small>(deixa em branco se não quiseres alterar)</small></label>
            <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
          </div>

          <div class="form-group">
            <label for="" class="control-label">Confirmação da Password</label>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
          </div>

          <div class="form-group">
            <label for="" class="control-label">Password Actual<br> <small>(precisamos da tua password para editarmos o teu perfil)</small></label>
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control"  %>
          </div>

          <div class="form-group">
            <%= f.submit "Actualizar", :class => "btn btn-primary btn-block"  %>
          </div>
        <% end %>
        <hr>
        <p><small>Infeliz?</small><%= button_to "Cancelar a minha conta", registration_path(resource_name), data: { confirm: "Tens a certeza?" }, method: :delete, :class => "btn btn-danger btn-block" %></p>
        <hr>
        <%= link_to "Voltar", :back %>
      </div>
    </div>
  </div>
</div>
