<% if user_signed_in? && current_user == @project.user %>
  <%= form_for [@project, Status.new] do |f| %>
    <% if @status && @status.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>
      <ul>
        <% @status.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group p-y-xs w-full m-b-sm">
    <%= f.text_field :title, class: "form-control r-2x form-control-sm", placeholder: "Title" %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="form-group m-b-sm">
    <%= f.text_area :description, class: "form-control r-2x form-control-sm", placeholder: "Message" %>
  </div>
  <div class="text-left clearfix">
    <%= f.submit 'Send', :class => 'btn blue btn-sm'  %>
  </div>
  <% end %>
<% end %>
