<div class="jumbotron home-bg m-b-0 no-radius">
  <div class="container-fluid text-left">
    <%= image_tag(@user.gravatar_url, :alt => "Project", :style => "", :class => "w-128 r-2x box-shadow-z0 white" ) %>
    <h1 class="text-left text-white p-t"><%= @user.name %></h1>
    <h6 style="display:none;"><% @user.project_friendships.each do |friendship| %>
          <%= friendship.project_id %>
        <% end %>
    <% current_user.project_friendships.each do |friendship| %>
          <%= friendship.project_id %>
        <% end %>
    </h6>
    <ul class="user-summary" style="color: #ecf0f1; margin-top:10px; display: none;">
      <li><%= @user.projects.uniq.count %><span class="icon-lab"></span></li>
      <li><%= @user.ideas.count %><span class="icon-bulb"></span></li>
      <li><%= @user.resources.count %><span class="icon-diamond"></span></li>
      <li><%= @user.appliances.count %><span class="icon-user"></span></li>
    </ul>
    <p class="text-left">
      <% if user_signed_in? %>
        <% if (current_user.id == @user.id) %>
          <div class="btn-group">
            <a href="<%= edit_user_registration_path %>" type="button" class="btn btn-xs btn-outline text-uppercase text-sm b-white text-white _300">Edit</a>
            <a href="<%= logout_path %>" type="button" class="btn btn-xs btn-outline text-uppercase text-sm b-white text-white _300">Logout</a>
          </div>
        <% end %>
      <% end %>
    </p>
    <p class="text-left m-b-0 text-white _300 text-md"><small><%= @user.description %></small></p>

  </div>
</div>
  <div class="p-y-0 text-center row">






  <div class="row">
    <div class="col-md-12">
      <% if @user.project_entries.count > 0 %>
      <div class="clearfix">
        <div class="project-entries-filter pull-left">
          <button type="button" class="btn btn-sm btn-default"><span class="icon-star"></span></button>
          <button type="button" class="btn btn-sm btn-default"><span class="icon-user"></span> participou em <%= pluralize(@user.projects.uniq.count, 'projecto', 'projectos') %></button>
        </div>
        <div class="btn-group btn-group-sm pull-right project-entries-filter" role="group" aria-label="...">
          <% if (params[:type].present? and params[:type] == "Idea") %>
            <%= link_to '<span class="icon-bulb"></span>'.html_safe, user_path(), :class => "btn btn-default active" %>
          <% else %>
            <%= link_to '<span class="icon-bulb"></span>'.html_safe, user_path(type: "Idea"), :class => "btn btn-default" %>
          <% end %>
          <% if (params[:type].present? and params[:type] == "Resource") %>
            <%= link_to '<span class="icon-diamond"></span>'.html_safe, user_path(), :class => "btn btn-default active" %>
          <% else %>
            <%= link_to '<span class="icon-diamond"></span>'.html_safe, user_path(type: "Resource"), :class => "btn btn-default" %>
          <% end %>
          <% if (params[:type].present? and params[:type] == "Appliance") %>
            <%= link_to '<span class="icon-user"></span>'.html_safe, user_path(), :class => "btn btn-default active" %>
          <% else %>
            <%= link_to '<span class="icon-user"></span>'.html_safe, user_path(type: "Appliance"), :class => "btn btn-default" %>
          <% end %>
        </div>
      </div>
      <% end %>
      <% if @user.project_entries.count == 0 %>
        <div class="row">
          <div class="col-xs-12">
            <p class="text-center project-entrie">
              Ainda não participaste em nenhum projecto!
            </p>
          </div>
        </div>
      <% end %>
      <% @entries.reverse.each do |entry| %>
        <% if entry.is_a?(Idea) %>
        <div class="media project-entrie">
          <div class="media-left media-middle">
            <a href="<%= project_project_entry_path(@user.id, entry.id) %>">
              <span class="icon-bulb"></span>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= link_to entry.name, project_project_entry_path(@user.id, entry.id) %></h4>
            <small>Ideia para o projecto <%= link_to entry.project.title, project_path(entry.project) %></small>
          </div>
        </div>
        <!-- <%= link_to entry.name, project_project_entry_path(@user.id, entry.id) %>
        <%= entry.description %>
        <%= entry.user_id %>
        <%= entry.type %>
        <%= entry.inspect %> -->

        <% elsif entry.is_a?(Resource) %>
        <div class="media project-entrie">
          <div class="media-left media-middle">
            <a href="<%= project_project_entry_path(@user.id, entry.id) %>">
              <span class="icon-diamond"></span>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= link_to entry.name, project_project_entry_path(@user.id, entry.id) %></h4>
            <small>Recurso para o projecto <%= link_to entry.project.title, project_path(entry.project) %></small>
          </div>
        </div>
        <% elsif entry.is_a?(Appliance) %>
        <div class="media project-entrie">
          <div class="media-left media-middle">
            <a href="<%= project_project_entry_path(@user.id, entry.id) %>">
              <span class="icon-user"></span>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Candidatou-se ao projecto <%= link_to entry.project.title, project_path(entry.project) %>!</h4>
            <small>Não percas a tua oportunidade.</small>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
