<div class="col-xs-12 col-md-3 bg-auto white p-x-0">
  <div class="row no-gutter text-blue-hover pos-abs">
    <div class="col-xs-4 text-center p-y text-lg b-r b-b">
      <a href="#" role="button" data-toggle="modal" data-target="#new-idea" class="btn btn-lg btn-icon btn-social rounded white btn-sm text-center text-lg no-shadow <% unless @project.seeks_ideas? || (user_signed_in? && current_user.id == @project.user_id)  %>disabled<% end %>">
        <% if @project.seeks_ideas? || (user_signed_in? && current_user.id == @project.user_id) %>
          <i class="text-accent _500 text-center icon-bulb text-lg"></i>
          <i class="text-accent _300 text-center fa fa-plus text-lg"></i>
        <% else %>
          <i class="text-accent _500 text-center icon-bulb text-lg"></i>
          <i class="fa fa-ban nested"></i>
          <i class="fa fa-ban nested text-warning"></i>
        <% end %>
      </a>
      <% if !@project.seeks_ideas? && user_signed_in? && current_user.id == @project.user_id %>
        <i class="icon-key text-dark text text-muted" style="right:5px; bottom:5px; position: absolute;"></i>
      <% end %>
    </div>
    <div class="col-xs-4 text-center p-y text-lg b-r b-b">
      <a href="#" role="button" data-toggle="modal" data-target="#new-resource" class="btn btn-lg btn-icon btn-social rounded white btn-sm text-center no-shadow <% unless @project.seeks_resources? || (user_signed_in? && current_user.id == @project.user_id) %>disabled<% end %>">
        <% if @project.seeks_resources? || (user_signed_in? && current_user.id == @project.user_id) %>
          <i class="text-accent _500 text-center icon-diamond text-lg"></i>
          <i class="text-accent _300 text-center fa fa-plus text-lg"></i>
        <% else %>
          <i class="text-accent _500 text-center icon-diamond text-lg"></i>
          <i class="fa fa-ban nested fourtimes"></i>
          <i class="fa fa-ban nested text-warning"></i>
        <% end %>
      </a>
      <% if !@project.seeks_resources? && user_signed_in? && current_user.id == @project.user_id %>
        <i class="icon-key text-dark text text-muted" style="right:5px; bottom:5px; position: absolute;"></i>
      <% end %>
    </div>
    <div class="col-xs-4 text-center p-y b-b text-lg">
      <a href="#" role="button" data-toggle="modal" data-target="#new-appliance" class="btn btn-lg btn-icon btn-social rounded white btn-sm text-center no-shadow <% unless @project.seeks_appliances? || (user_signed_in? && current_user.id == @project.user_id) %>disabled<% end %>">
        <% if @project.seeks_appliances? || (user_signed_in? && current_user.id == @project.user_id) %>
          <i class="text-accent _500 text-center icon-user text-lg"></i>
          <i class="text-accent _300 text-center fa fa-plus text-lg"></i>
        <% else %>
          <i class="text-accent _500 text-center icon-user text-lg"></i>
          <i class="fa fa-ban nested fourtimes"></i>
          <i class="fa fa-ban nested text-warning"></i>
        <% end %>
      </a>
      <% if !@project.seeks_appliances? && user_signed_in? && current_user.id == @project.user_id %>
        <i class="icon-key text-dark text text-muted" style="right:5px; bottom:5px; position: absolute;"></i>
      <% end %>
    </div>
  </div>
  <div class="row no-gutter text-blue-hover pos-abs">
    <div class="col-xs-4 text-center p-y text-lg b-r b-b">
      <a href="" class="btn btn-lg btn-icon btn-social rounded white btn-sm text-center text-lg no-shadow"><span class="text-accent"><%= @project.ideas.count %></span><span style="color: #4a148c;">/<%= @project.accepted_ideas.count %></span></a>
    </div>
    <div class="col-xs-4 text-center p-y text-lg b-r b-b">
      <a href="" class="btn btn-lg btn-icon btn-social rounded white btn-sm text-center text-lg no-shadow"><span class="text-accent"><%= @project.resources.count %></span><span style="color: #4a148c;">/<%= @project.accepted_resources.count %></span></a>
    </div>
    <div class="col-xs-4 text-center p-y b-b text-lg">
      <a href="" class="btn btn-lg btn-icon btn-social rounded white btn-sm text-center text-lg no-shadow"><span class="text-accent"><%= @project.appliances.count %></span><span style="color: #4a148c;">/<%= @project.accepted_appliances.count %></span></a>
    </div>
  </div>




  <% if user_signed_in? && current_user.id == @project.user_id %>
  <div class="row no-gutter b-b">
    <div class="col-xs-4 b-r text-blue-hover">
      <a class="p-a block text-center">
        <span class="text-muted text-lg m-v-sm inline" style="line-height:1.35;"><%= @project.pending_project_friendships.count %></span>
        <span class="block text-xs text-muted"><%= "Request".pluralize(@project.pending_project_friendships.count) %></span>
      </a>
    </div>
    <div class="col-xs-4 b-r text-blue-hover">
      <a href="<%= edit_project_path(@project) %>" class="p-a block text-center" ui-toggle-class="">
        <i class="icon-settings text-muted text-lg m-v-sm inline p-y-xs"></i>
        <span class="block text-xs text-muted">Edit</span>
      </a>
    </div>
    <div class="col-xs-4 text-blue-hover">
      <a data-confirm="Are you sure?" class="p-a white block text-center" rel="nofollow" data-method="delete" href="<%= project_path(@project) %>">
        <i class="icon-trash text-muted text-lg m-v-sm inline p-y-xs"></i>
        <span class="block text-xs text-muted">Delete</span>
      </a>
    </div>
  </div>
  <% end %>



  <div class="pos-rlt" style="display:none;">
    <h6 class="p-a m-a-0 text-blue text-primary-hover">
      <%= link_to @project.title, project_path(@project) %>
      <span class="block text-xs text-muted m-t-sm text-dark"><% if @project.opened? %>Open Project<% else %>Closed Project<% end %></span>
    </h6>
    <ul class="list inset m-a-0 light b-b b-t no-radius">
      <li class="list-item v-m">
        <a herf="" class="list-left p-r-sm">
          <span class="w-32 avatar">
            <%= image_tag(@project.user.gravatar_url, :alt => "Project", :class => "" ) %>
          </span>
        </a>
        <div class="list-body v-m">
          <div class="m-t-sm text-ellipsis">
            <a href="" class="v-b text-muted"><%= @project.user.name %></a>
          </div>
        </div>
      </li>
    </ul>
    <p class="project-about text-left p-a m-b-0 text-dark text-sm">
      <%= @project.about %>
    </p>
    <div class="row no-gutter b-t text-blue-hover pos-abs">
      <div class="col-xs-4 b-r">
        <a class="p-a block text-center" ui-toggle-class="">
          <i class="icon-bulb inline text-md"></i>
          <span class="block l-h-1x"><%= @project.ideas.count %></span>
        </a>
      </div>
      <div class="col-xs-4 b-r">
        <a class="p-a block text-center" ui-toggle-class="">
          <i class="icon-diamond inline text-md"></i>
          <span class="block l-h-1x"><%= @project.resources.count %></span>
        </a>
      </div>
      <div class="col-xs-4">
        <a class="p-a block text-center" ui-toggle-class="">
          <i class="icon-user inline text-md"></i>
          <span class="block l-h-1x"><%= @project.appliances.count %></span>
        </a>
      </div>
    </div>
    <div class="" style="">
      <div class="project">
        <% if user_signed_in? %>
          <% if (current_user.id == @project.user_id) %>
            <button class="btn btn-block btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="margin-bottom:15px; border-radius:0; border-color:#ecf0f1;">Definições</button>
            <div class="collapse" id="collapseExample">
              <%= link_to "Editar Projecto", edit_project_path(@project), class: "btn btn-block btn-default", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;"  %>
              <%= link_to "Eliminar Projecto", project_path(@project), method: :delete, data: { confirm: 'Tens a certeza?' }, class: "btn btn-block btn-default", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;" %>
              <%= link_to "Autorizações (#{@project.pending_project_friendships.count} #{"pendente".pluralize(@project.pending_project_friendships.count)})", project_project_friendships_path(@project), class: "btn btn-block btn-default", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;" %>
            </div>
            <div>
              <% if @project.ready? %>
                <p class="btn btn-block btn-success">Parabéns!</p>
              <% elsif @project.has_accepted_percentage? == 100 %>
                <%= form_for @project, url: ready_project_path(@project), method: :put do |form|%>
                  <%= form.submit 'Completar Sinapse!', :class => 'btn btn-primary btn-block'  %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>



        <!-- <%= link_to "Pedir Autorização", new_project_project_friendship_path(project_id: @project) %> -->
        <!-- <%= @project.project_friendships.count %>
        <%= @project.pending_project_friendships.count %>
        <%= @project.accepted_project_friendships.count %> -->

        <!-- <% if @project.project_friendships.count > 0 %>
        <%= @project.project_friendships.first.user.name %>
        <%= @project.project_friendships.first.project.title %>
        <%= @project.project_friendships.first.state %>
        <% end %> -->
      </div>
      <% if user_signed_in? && (current_user.id == @project.user_id || @project_friendship.present? || @project.opened?) %>
        <% if @project.project_entries.count > 0 && (current_user.id == @project.user_id || (@project.opened? || (@project.closed? && @project_friendship.accepted?)))  %>
          <div class="btn-group btn-group-lg btn-group-justified project-actions-group" role="group" aria-label="Large button group">
            <% if @project.seeks_ideas? || current_user.id == @project.user_id %>
              <a href="#" role="button" data-toggle="modal" data-target="#new-idea" class="btn btn-default project-actions"><span class="icon-bulb"><span class="glyphicon glyphicon-plus mini-icon"></span></span></a>
            <% end %>
            <% if @project.seeks_resources? || current_user.id == @project.user_id  %>
              <a href="#" role="button" data-toggle="modal" data-target="#new-resource" class="btn btn-default project-actions"><span class="icon-diamond"><span class="glyphicon glyphicon-plus mini-icon"></span></span></a>
            <% end %>
            <% if @project.seeks_appliances? || current_user.id == @project.user_id %>
              <a href="#" role="button" data-toggle="modal" data-target="#new-appliance" class="btn btn-default project-actions"><span class="icon-user"><span class="glyphicon glyphicon-plus mini-icon"></span></span></a>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <!-- <% if user_signed_in? %>
        <% if (current_user.id == @project.user_id) %>
          <%= link_to "Editar", edit_project_path(@project), class: "btn btn-default btn-block", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;"  %>
          <%= link_to "Eliminar", project_path(@project), method: :delete, data: { confirm: 'Tens a certeza?' }, class: "btn btn-default btn-block", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;" %>
          <%= link_to "Autorizações", project_project_friendships_path(@project), class: "btn btn-default btn-block", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;" %>
        <% end %>
      <% end %> -->
    </div>
  </div>
</div>
