<div class="col-sm w-xxl w-auto-xs b-r bg-auto">
  <div class="pos-rlt">
    <h6 class="p-a m-a-0"><%= link_to @project.title, project_path(@project) %></h6>
    <div class="row no-gutter b-t b-b">
      <div class="col-xs-4 b-r">
        <a class="p-a block text-center" ui-toggle-class="">
          <i class="icon-bulb inline text-md"></i>
          <span class="block l-h-1x"><%= @project.ideas.count %></span>
        </a>
      </div>
      <div class="col-xs-4 b-r">
        <a class="p-a block text-center" ui-toggle-class="">
          <i class="icon-diamond inline text-md"></i>
          <span class="block l-h-1x"><%= @project.resources.count %></span>
        </a>
      </div>
      <div class="col-xs-4">
        <a class="p-a block text-center" ui-toggle-class="">
          <i class="icon-user inline text-md"></i>
          <span class="block l-h-1x"><%= @project.appliances.count %></span>
        </a>
      </div>
    </div>
    <p class="project-about text-left p-a m-b-0 text-dark text-sm">
      <%= @project.about %>
    </p>
    <div class="row no-gutter b-t b-b">
      <div class="col-xs-4 b-r">
        <a class="p-a block text-center">
          <%= image_tag(@project.user.gravatar_url, :alt => "Project", :class => "img-circle w-32 v-m" ) %>
        </a>
      </div>
      <div class="col-xs-8">
        <a class="p-a block text-left v-m" ui-toggle-class="">
          <span class="block l-h-1x"><%= @project.user.name %></span>
          <span class="block text-sm text-muted"><%= @project.user.description %></span>
        </a>
      </div>
    </div>
    <div class="p-a-md">
      <p>
        <img src="../assets/images/a4.jpg" class="img-circle w-32">
      </p>
      <a href="" class="text-md block">Kyle Kelley</a>
      <p><small>London, UK</small></p>
      <a href="" class="btn btn-sm btn-outline rounded b-accent">Follow</a>
    </div>
    <div class="">
      <div class="project">
        <!-- <%= link_to project_path(@project), :class => "w-40" do %>
        <%= image_tag("placeholder.png", :alt => "Project", :class => "" ) %>
        <% end %> -->
        <ul>
          <li><%= @project.ideas.count %><span class="icon-bulb"></span></li>
          <li><%= @project.resources.count %><span class="icon-diamond"></span></li>
          <li><%= @project.appliances.count %><span class="icon-user"></span></li>
        </ul>
        <p class="project-about text-left">
          <%= @project.about %>
        </p>
        <%= link_to @project.user.name, user_path(@project.user), class: "btn btn-block btn-default", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;"%>
        <% if user_signed_in? %>
          <% if (current_user.id == @project.user_id) %>
            <button class="btn btn-block btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="margin-bottom:15px; border-radius:0; border-color:#ecf0f1;">Definições</button>
            <div class="collapse" id="collapseExample">
              <%= link_to "Editar Projecto", edit_project_path(@project), class: "btn btn-block btn-default", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;"  %>
              <%= link_to "Eliminar Projecto", project_path(@project), method: :delete, data: { confirm: 'Tens a certeza?' }, class: "btn btn-block btn-default", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;" %>
              <%= link_to "Autorizações (#{@project.pending_project_friendships.count} #{"pendente".pluralize(@project.pending_project_friendships.count)})", project_project_friendships_path(@project), class: "btn btn-block btn-default", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;" %>
            </div>
            <div>
              <% if @project.ready? %>
                <p class="btn btn-block btn-success">Parabéns!</p>
              <% elsif @project.has_accepted_percentage? == 100 %>
                <%= form_for @project, url: ready_project_path(@project), method: :put do |form|%>
                  <%= form.submit 'Completar Sinapse!', :class => 'btn btn-primary btn-block'  %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <% if user_signed_in? && current_user.id != @project.user_id && @project.closed? %>
          <% if @project_friendship.present? %>
            <% if @project_friendship.pending? %>
              Pediste acesso a este projecto.
            <% elsif @project_friendship.accepted?  %>
              Tens acesso a este projecto.
            <% end %>
          <% else %>
              <%= form_for [@project, ProjectFriendship.new] do |form| %>
                <%= form.hidden_field :project_id, :value => @project.id %>
                <%= form.hidden_field :user_id, :value => current_user.id %>
                <%= form.hidden_field :state, :value => :pending %>
                <%= form.submit 'Pedir Autorização', :class => 'btn btn-primary btn-block'  %>
              <% end %>
          <% end %>
        <% end %>


        <!-- <%= link_to "Pedir Autorização", new_project_project_friendship_path(project_id: @project) %> -->
        <!-- <%= @project.project_friendships.count %>
        <%= @project.pending_project_friendships.count %>
        <%= @project.accepted_project_friendships.count %> -->

        <!-- <% if @project.project_friendships.count > 0 %>
        <%= @project.project_friendships.first.user.name %>
        <%= @project.project_friendships.first.project.title %>
        <%= @project.project_friendships.first.state %>
        <% end %> -->
      </div>
      <% if user_signed_in? && (current_user.id == @project.user_id || @project_friendship.present? || @project.opened?) %>
        <% if @project.project_entries.count > 0 && (current_user.id == @project.user_id || (@project.opened? || (@project.closed? && @project_friendship.accepted?)))  %>
          <div class="btn-group btn-group-lg btn-group-justified project-actions-group" role="group" aria-label="Large button group">
            <% if @project.seeks_ideas? || current_user.id == @project.user_id %>
              <a href="#" role="button" data-toggle="modal" data-target="#new-idea" class="btn btn-default project-actions"><span class="icon-bulb"><span class="glyphicon glyphicon-plus mini-icon"></span></span></a>
            <% end %>
            <% if @project.seeks_resources? || current_user.id == @project.user_id  %>
              <a href="#" role="button" data-toggle="modal" data-target="#new-resource" class="btn btn-default project-actions"><span class="icon-diamond"><span class="glyphicon glyphicon-plus mini-icon"></span></span></a>
            <% end %>
            <% if @project.seeks_appliances? || current_user.id == @project.user_id %>
              <a href="#" role="button" data-toggle="modal" data-target="#new-appliance" class="btn btn-default project-actions"><span class="icon-user"><span class="glyphicon glyphicon-plus mini-icon"></span></span></a>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <!-- <% if user_signed_in? %>
        <% if (current_user.id == @project.user_id) %>
          <%= link_to "Editar", edit_project_path(@project), class: "btn btn-default btn-block", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;"  %>
          <%= link_to "Eliminar", project_path(@project), method: :delete, data: { confirm: 'Tens a certeza?' }, class: "btn btn-default btn-block", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;" %>
          <%= link_to "Autorizações", project_project_friendships_path(@project), class: "btn btn-default btn-block", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;" %>
        <% end %>
      <% end %> -->
    </div>
  </div>
</div
