<div class="tab-pane active" id="feed">
  <!-- <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="box p-a light">
        <div class="pull-left m-r">
          <span class="w-40 rounded light b-a">
            <i class="icon-bulb text-lg v-m text-dark"></i>
          </span>
        </div>
        <div class="clear v-m">
          <h4 class="m-a-0 text-md _500 text-primary-hover">
            <a href="" data-toggle="modal" data-target="#new-idea">Submit your Idea</a>
          </h4>
          <small class="text-muted"><% if @project.ideas.count > 0 %><%= pluralize(@project.ideas.count, 'idea') %> so far...<% else %>Be the first!<% end %></small>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="box p-a">
        <div class="pull-left m-r">
          <span class="w-40 rounded danger">
            <i class="icon-diamond text-lg v-m text-white"></i>
          </span>
        </div>
        <div class="clear v-m">
          <h4 class="m-a-0 text-md _500 text-danger-hover">
            <a href="" data-toggle="modal" data-target="#new-resource">Submit your Resource</a>
          </h4>
          <small class="text-muted"><% if @project.resources.count > 0 %><%= pluralize(@project.resources.count, 'resource') %> so far...<% else %>Be the first!<% end %></small>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="box p-a">
        <div class="pull-left m-r">
          <span class="w-40 rounded blue">
            <i class="icon-user text-lg text-white" style="font-size: 1.35rem; line-height: 1.75;"></i>
          </span>
        </div>
        <div class="clear v-m">
          <h4 class="m-a-0 text-md _500 text-blue-hover">
            <a href="" data-toggle="modal" data-target="#new-appliance">Apply</a>
          </h4>
          <small class="text-muted"><% if @project.appliances.count > 0 %><%= pluralize(@project.appliances.count, 'person') %> so far...<% else %>Be the first!<% end %></small>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row no-gutter m-b" style="display: none;">
    <div class="col-xs-12 col-sm-6 text-blue-hover">
      <div class="clearfix nav-active-info v-b">
        <ul class="nav nav-sm nav-pills" ui-nav="">
          <li class="nav-item">
            <a class="nav-link white p-a-sm no-radius" href=""><span class="icon-bulb text-primary"></span>&nbsp;New Idea</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-sm no-radius b-b-dark b-b text-dark m-r-xs" data-toggle="modal" data-target="#new-resource">New Resource</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-sm no-radius b-b-dark b-b light ">Apply</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 text-blue-hover">
      <div class="nav-active-border b-blue text-right">
        <div class="nav nav-md nav-right">
          <a class="nav-link white box-shadow-z0 text-accent" href=""><span class="icon-bulb"></span></a>
          <a class="nav-link white box-shadow-z0 text-accent" href=""><span class="icon-diamond"></span></a>
          <a class="nav-link white box-shadow-z0 text-accent" href=""><span class="icon-user"></span></a>
          <a class="nav-link white box-shadow-z0 text-primary" href=""><span class="fa fa-check"></span></a>
        </div>
      </div>
    </div>
  </div>
  <% if @project.ready? %>
    <div class="p-a-lg primary box-shadow-z0">
      <p class="text-white h4 maven text-uppercase">Synapse completed!<i class="fa fa-smile-o m-l-sm"></i></p>
      <p class="text-white text-uppercase m-b-0">This project is up and running...<br>You can still apply, share ideas or resources that can help this synapse to thrive!</p>
    </div>
    <% elsif @project.has_accepted_percentage? == 100 %>
    <div class="p-a-lg primary box-shadow-z0">
      <p class="text-white h4 maven text-uppercase">Wow!</p>
      <p class="text-white text-uppercase">You've chosen <span class="_800"><%= @project.accepted_ideas.count %></span> <%= "idea".pluralize(@project.accepted_ideas.count) %>, <span class="_800"><%= @project.accepted_resources.count %></span> <%= "resource".pluralize(@project.accepted_resources.count) %> and <span class="_800"><%= @project.accepted_appliances.count %></span> <%= "person".pluralize(@project.accepted_appliances.count) %>...<br>That's everything you need to kickstart your project and complete this synapse!</p>

      <%= form_for @project, url: ready_project_path(@project), method: :put do |form|%>
        <%= form.submit 'Complete Synapse!', :class => 'btn btn-sm btn-outline text-uppercase text-sm b-white text-white b-2x _600'  %>
      <% end %>
  </div>
  <% end %>

  <% @entries.each do |entry| %>
    <div class="list-item white box-shadow-z0 p-a-md <% if entry.accepted? %>b-l-primary<% else %>b-l-blue<% end %> m-b-0">
      <div class="list-left">
        <span class="w-40 avatar white <% if entry.accepted? %>b-primary<% else %>b-blue<% end %>" style="border-width: 1px; border-style: solid; border-radius:50%;">
          <% if entry.accepted? %>
            <span class="fa fa-check up text-xs primary p-a-xs rounded box-shadow-z3 pos-abt _800" style="left: -7px; bottom: -7px;"></span>
          <% end %>
          <span class="<% if entry.is_a?(Idea) %>icon-bulb<% elsif entry.is_a?(Resource) %>icon-diamond<% elsif entry.is_a?(Appliance) %>icon-user<% end %> v-m text-lg <% if entry.accepted? %>text-primary<% else %>text-blue<% end %>"></span>
        </span>
      </div>
      <div class="list-body">
        <% if user_signed_in? && (current_user.id == @project.user_id) && entry.pending? %>
          <div class="pull-right v-m p-y-sm">
            <%= form_for [@project_entry, entry], url: accept_project_project_entry_path(@project, entry), method: :put do |form|%>
              <%= form.submit 'Accept?', :class => 'btn btn-xs white'  %>
            <% end %>
          </div>
        <% elsif entry.accepted?  %>
          <div class="pull-right v-m p-y-sm">
            <span class="btn btn-xs btn-outline b-primary text-primary">Accepted</span>
          </div>
        <% end %>
        <div class="<% if entry.accepted? %>text-primary<% else %>text-blue<% end %>">
          <% if entry.is_a?(Appliance) %>
            <span class="_500"><%= entry.user.name %> applied! </span>
          <% else %>
            <%= link_to entry.name, project_project_entry_path(@project, entry.id), class: "_500" %>
          <% end %>
        </div>
        <div class="text-ellipsis text-sm ng-binding text-primary-hover">
          <% if !entry.is_a?(Appliance) %><%= link_to entry.user.name, user_path(entry.user_id), class: "link" %><% end %> <small class="text-muted"><%= time_ago_in_words(entry.created_at) %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>
