<div class="container" style="padding-top:25px;">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="jumbotron projects-jumbotron" style="padding:25px; margin:0; border-bottom-left-radius:0; border-bottom-right-radius:0; border-bottom:0;">
        <div class="container">
          <h1 class="text-center" style="margin:0;"><big class="icon-lab" style="display: block;"></big>
            Edição do Projecto</h1>
        </div>
      </div>
      <div class="project">


        <%= form_for :project, url: project_path(@project), method: :patch do |f| %>

          <% if @project.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@project.errors.count, "error") %> prohibited
                this article from being saved:
              </h2>
              <ul>
                <% @project.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= label_tag(:title, "Titulo") %><br>
            <%= f.text_field :title, class: "form-control"  %>
          </div>

          <div class="form-group">
            <%= label_tag(:about, "Descrição") %><br>
            <%= f.text_area :about, class: "form-control"  %>
          </div>
            <%= f.submit 'Editar Projecto', :class => 'btn btn-primary btn-block' %>

        <% end %>
        <hr>
        <%= link_to 'Voltar', project_path %>
      </div>
    </div>
  </div>
</div>
