<div class="container" style="padding-top:25px;">
  <div class="row">
    <div class="col-md-4">
      <div class="project">
        <%= link_to project_path(@project), :class => "thumbnail" do %>
        <%= image_tag("placeholder.png", :alt => "Project", :style => "height: 150px; display: block; padding: 35px 25px;" ) %>
        <% end %>
        <h6><%= link_to @project.title, project_path(@project) %></h6>
        <ul>
          <!-- <li><%= @project.project_entries.count %><span class="icon"></span></li> -->
          <li><%= @project.ideas.count %><span class="icon-bulb"></span></li>
          <li><%= @project.resources.count %><span class="icon-diamond"></span></li>
          <li><%= @project.appliances.count %><span class="icon-user"></span></li>
        </ul>
        <p class="project-about text-left">
          <%= @project.about %>
        </p>
        <%= link_to @project.user.name, user_path(@project.user), class: "btn btn-block btn-default", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;"%>
        <% if user_signed_in? %>
          <% if (current_user.id == @project.user_id) %>
            <button class="btn btn-block btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="margin-bottom:15px; border-radius:0; border-color:#ecf0f1;">Definições</button>
            <div class="collapse" id="collapseExample">
              <%= link_to "Editar Projecto", edit_project_path(@project), class: "btn btn-block btn-default", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;"  %>
              <%= link_to "Eliminar Projecto", project_path(@project), method: :delete, data: { confirm: 'Tens a certeza?' }, class: "btn btn-block btn-default", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;" %>
              <%= link_to "Autorizações (#{@project.pending_project_friendships.count} #{"pendente".pluralize(@project.pending_project_friendships.count)})", project_project_friendships_path(@project), class: "btn btn-block btn-default", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;" %>
            </div>
          <% end %>
        <% end %>
        <% unless (current_user.id == @project.user_id) %>
          <% if @project_friendship.present? %>
            <% if @project_friendship.pending? %>
              Pediste acesso a este projecto.
            <% elsif @project_friendship.accepted?  %>
              Tens acesso a este projecto.
            <% end %>
          <% else %>
              <%= form_for [@project, ProjectFriendship.new] do |form| %>
                <%= form.hidden_field :project_id, :value => @project.id %>
                <%= form.hidden_field :user_id, :value => current_user.id %>
                <%= form.hidden_field :state, :value => :pending %>
                <%= form.submit 'Pedir Autorização', :class => 'btn btn-primary btn-block'  %>
              <% end %>
          <% end %>
        <% end %>

        <!-- <%= link_to "Pedir Autorização", new_project_project_friendship_path(project_id: @project) %> -->
        <!-- <%= @project.project_friendships.count %>
        <%= @project.pending_project_friendships.count %>
        <%= @project.accepted_project_friendships.count %> -->

        <!-- <% if @project.project_friendships.count > 0 %>
        <%= @project.project_friendships.first.user.name %>
        <%= @project.project_friendships.first.project.title %>
        <%= @project.project_friendships.first.state %>
        <% end %> -->
      </div>
      <% if @project.project_entries.count > 0 %>
        <div class="btn-group btn-group-lg btn-group-justified project-actions-group" role="group" aria-label="Large button group">
          <a href="#" role="button" data-toggle="modal" data-target="#new-idea" class="btn btn-default project-actions"><span class="icon-bulb"><span class="glyphicon glyphicon-plus mini-icon"></span></span></a>
          <a href="#" role="button" data-toggle="modal" data-target="#new-resource" class="btn btn-default project-actions"><span class="icon-diamond"><span class="glyphicon glyphicon-plus mini-icon"></span></span></a>
          <a href="#" role="button" data-toggle="modal" data-target="#new-appliance" class="btn btn-default project-actions"><span class="icon-user"><span class="glyphicon glyphicon-plus mini-icon"></span></span></a>
        </div>
      <% end %>
      <!-- <% if user_signed_in? %>
        <% if (current_user.id == @project.user_id) %>
          <%= link_to "Editar", edit_project_path(@project), class: "btn btn-default btn-block", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;"  %>
          <%= link_to "Eliminar", project_path(@project), method: :delete, data: { confirm: 'Tens a certeza?' }, class: "btn btn-default btn-block", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;" %>
          <%= link_to "Autorizações", project_project_friendships_path(@project), class: "btn btn-default btn-block", style: "margin-bottom:15px; border-radius:0; border-color:#ecf0f1;" %>
        <% end %>
      <% end %> -->
    </div>
    <div class="col-md-8">
      <% if @project.project_entries.count > 0 %>
      <div class="clearfix">
        <div class="project-entries-filter pull-left">
          <button type="button" class="btn btn-sm btn-default"><span class="icon-star"></span></button>
          <button type="button" class="btn btn-sm btn-default"><span class="icon-lock"></span> Projecto Fechado</button>
        </div>
        <div class="btn-group btn-group-sm pull-right project-entries-filter" role="group" aria-label="...">
          <% if (params[:type].present? and params[:type] == "Idea") %>
            <%= link_to '<span class="icon-bulb"></span>'.html_safe, project_path(), :class => "btn btn-default active" %>
          <% else %>
            <%= link_to '<span class="icon-bulb"></span>'.html_safe, project_path(type: "Idea"), :class => "btn btn-default" %>
          <% end %>
          <% if (params[:type].present? and params[:type] == "Resource") %>
            <%= link_to '<span class="icon-diamond"></span>'.html_safe, project_path(), :class => "btn btn-default active" %>
          <% else %>
            <%= link_to '<span class="icon-diamond"></span>'.html_safe, project_path(type: "Resource"), :class => "btn btn-default" %>
          <% end %>
          <% if (params[:type].present? and params[:type] == "Appliance") %>
            <%= link_to '<span class="icon-user"></span>'.html_safe, project_path(), :class => "btn btn-default active" %>
          <% else %>
            <%= link_to '<span class="icon-user"></span>'.html_safe, project_path(type: "Appliance"), :class => "btn btn-default" %>
          <% end %>
        </div>
      </div>
      <% end %>
      <% if (params[:type].present? and params[:type] == "Idea" and @project.ideas.count == 0) %>
        <div class="row" style="margin-top:15px;">
          <div class="col-xs-12">
            <div class="media project-entrie">
              <div class="media-left media-middle">
                <a href="">
                  <span class="icon-bulb"></span>
                </a>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading media-middle">Sê o primeiro a submeter uma ideia!</h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% if (params[:type].present? and params[:type] == "Resource" and @project.resources.count == 0) %>
        <div class="row" style="margin-top:15px;">
          <div class="col-xs-12">
            <div class="media project-entrie">
              <div class="media-left media-middle">
                <a href="">
                  <span class="icon-diamond"></span>
                </a>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading media-middle">Sê o primeiro a submeter um recurso!</h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% if (params[:type].present? and params[:type] == "Appliance" and @project.appliances.count == 0) %>
        <div class="row" style="margin-top:15px;">
          <div class="col-xs-12">
            <div class="media project-entrie">
              <div class="media-left media-middle">
                <a href="">
                  <span class="icon-user"></span>
                </a>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading media-middle">Sê o primeiro a candidatares-te!</h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% if @project.project_entries.count == 0 %>
        <div class="row">
          <div class="col-xs-12">
            <div class="media project-entrie">
              <div class="media-left media-middle">
                <a href="">
                  <span class="icon-bubble"></span>
                </a>
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading media-middle">Começaste este projecto!</h4>
                <p style="margin:0;">O teu projecto ainda não têm ideias, recursos ou candidaturas. Submete um destes para iniciares a actividade e mostrares às outras pessoas que este projecto vai avançar!</p>
              </div>
            </div>
            <div class="btn-group btn-group-lg btn-group-justified project-actions-group" role="group" aria-label="Large button group">
              <a href="#" role="button" data-toggle="modal" data-target="#new-idea" class="btn btn-default project-actions"><span class="icon-bulb"><span class="glyphicon glyphicon-plus mini-icon"></span></span></a>
              <a href="#" role="button" data-toggle="modal" data-target="#new-resource" class="btn btn-default project-actions"><span class="icon-diamond"><span class="glyphicon glyphicon-plus mini-icon"></span></span></a>
              <a href="#" role="button" data-toggle="modal" data-target="#new-appliance" class="btn btn-default project-actions"><span class="icon-user"><span class="glyphicon glyphicon-plus mini-icon"></span></span></a>
            </div>
          </div>
        </div>
      <% end %>



      <% @entries.reverse.each do |entry| %>
        <% if entry.is_a?(Idea) %>
        <div class="media project-entrie">
          <div class="media-left media-middle">
            <a href="<%= project_project_entry_path(@project.id, entry.id) %>">
              <span class="icon-bulb"></span>
            </a>
          </div>
          <div class="media-body media-middle">
            <h4 class="media-heading media-middle"><%= link_to entry.name, project_project_entry_path(@project.id, entry.id) %></h4>
            <small>Ideia de <a href="<%= user_path(entry.user_id) %>" data-container="body" data-toggle="popover" data-placement="top" data-content='<div class="media" style="width:200px;"><div class="media-left media-middle"><a href="<%= user_path(entry.user_id) %>"><%= image_tag(entry.user.gravatar_url, :alt => "Project", :style => "height: 50px; display: block;  background-color:#f9f9fa; border-radius:4px;", :class => "media-object" ) %></a></div><div class="media-body media-middle text-center" style="vertical-align:middle;"><h6 class="media-heading"><%= entry.user.name %></h6><p style="color:#34495e; margin:0;"><small><%= entry.user.projects.uniq.count %> <span class="icon-lab"></span>&nbsp;&nbsp;<%= entry.user.ideas.count %> <span class="icon-bulb"></span>&nbsp;&nbsp;<%= entry.user.resources.count %> <span class="icon-diamond"></span>&nbsp;&nbsp;<%= entry.user.appliances.count %> <span class="icon-user"></span><small></p></div></div>' data-html="true" data-trigger="hover"><%= entry.user.name %></a></small>
          </div>
        </div>
        <% elsif entry.is_a?(Resource) %>
        <div class="media project-entrie">
          <div class="media-left media-middle">
            <a href="<%= project_project_entry_path(@project.id, entry.id) %>">
              <span class="icon-diamond"></span>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= link_to entry.name, project_project_entry_path(@project.id, entry.id) %></h4>
            <small>Recurso de <a href="<%= user_path(entry.user_id) %>" data-container="body" data-toggle="popover" data-placement="top" data-content='<div class="media" style="width:200px;"><div class="media-left media-middle"><a href="<%= user_path(entry.user_id) %>"><%= image_tag(entry.user.gravatar_url, :alt => "Project", :style => "height: 50px; display: block;  background-color:#f9f9fa; border-radius:4px;", :class => "media-object" ) %></a></div><div class="media-body media-middle text-center" style="vertical-align:middle;"><h6 class="media-heading"><%= entry.user.name %></h6><p style="color:#34495e; margin:0;"><small><%= entry.user.projects.uniq.count %> <span class="icon-lab"></span>&nbsp;&nbsp;<%= entry.user.ideas.count %> <span class="icon-bulb"></span>&nbsp;&nbsp;<%= entry.user.resources.count %> <span class="icon-diamond"></span>&nbsp;&nbsp;<%= entry.user.appliances.count %> <span class="icon-user"></span><small></p></div></div>' data-html="true" data-trigger="hover"><%= entry.user.name %></a></small>
          </div>
        </div>
        <% elsif entry.is_a?(Appliance) %>
        <div class="media project-entrie">
          <div class="media-left media-middle">
            <a href="<%= user_path(entry.user) %>">
              <span class="icon-user"></span>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="<%= user_path(entry.user_id) %>" data-container="body" data-toggle="popover" data-placement="top" data-content='<div class="media" style="width:200px;"><div class="media-left media-middle"><a href="<%= user_path(entry.user_id) %>"><%= image_tag(entry.user.gravatar_url, :alt => "Project", :style => "height: 50px; display: block;  background-color:#f9f9fa; border-radius:4px;", :class => "media-object" ) %></a></div><div class="media-body media-middle text-center" style="vertical-align:middle;"><h6 class="media-heading"><%= entry.user.name %></h6><p style="color:#34495e; margin:0;"><small><%= entry.user.projects.uniq.count %> <span class="icon-lab"></span>&nbsp;&nbsp;<%= entry.user.ideas.count %> <span class="icon-bulb"></span>&nbsp;&nbsp;<%= entry.user.resources.count %> <span class="icon-diamond"></span>&nbsp;&nbsp;<%= entry.user.appliances.count %> <span class="icon-user"></span><small></p></div></div>' data-html="true" data-trigger="hover"><%= entry.user.name %></a> candidatou-se ao projecto!</h4>
            <small>Não percas a tua oportunidade.</small>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>

<!-- Modal New Appliance -->
<div class="modal fade" id="new-appliance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
      <% if user_signed_in? %>
        Estamos prestes a submeter a tua candidatura a este projecto.<br>Tens a certeza?
      <% else %>
        <p class="text-center" style="margin:0;">
          Tens que estar registado para começar projectos!<br>
          Regista-te <%= link_to "aqui", register_path %>, é fácil!
        </p>
      <% end %>
      </div>
      <% if user_signed_in? %>
      <div class="modal-footer" style="background-color: #ecf0f1;">
        <%= form_for [@project, Appliance.new] do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.submit 'Sim, quero candidatar-me!', :class => 'btn btn-primary btn-block'  %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Modal New Resource -->
<div class="modal fade" id="new-resource" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <% if user_signed_in? %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="margin-top:-10px;">&times;</span></button>

        <%= form_for [@project, Resource.new] do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <div class="form-group">
            <label for="name" class="control-label" style="color:#34495e;">Titulo</label>
            <%= f.text_field :name, class: "form-control", type: "text" %>
          </div>
          <div class="form-group">
            <label for="description" class="control-label" style="color:#34495e;">Breve Descrição</label>
            <%= f.text_field :description, class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="link" class="control-label" style="color:#34495e;">Link Anexo</label>
            <%= f.text_field :link, class: "form-control" %>
          </div>
          <%= f.submit 'Submeter Recurso', :class => 'btn btn-primary btn-block'  %>
        <% end %>
        <% else %>
          <p class="text-center" style="margin:0;">
            Tens que estar registado para começar projectos!<br>
            Regista-te <%= link_to "aqui", register_path %>, é fácil!
          </p>
        <% end %>
      </div>
      <!-- <div class="modal-footer" style="background-color: #ecf0f1;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div> -->
    </div>
  </div>
</div>
<!-- Modal New Idea -->
<div class="modal fade" id="new-idea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <% if user_signed_in? %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="margin-top:-10px;">&times;</span></button>

        <%= form_for [@project, Idea.new] do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <div class="form-group">
            <label for="recipient-name" class="control-label" style="color:#34495e;">Titulo</label>
            <%= f.text_field :name, class: "form-control", type: "text" %>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label" style="color:#34495e;">Breve Descrição</label>
            <%= f.text_field :description, class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="link" class="control-label" style="color:#34495e;">Link Anexo</label>
            <%= f.text_field :link, class: "form-control" %>
          </div>
          <%= f.submit 'Submeter Ideia', :class => 'btn btn-primary btn-block'  %>
        <% end %>
        <% else %>
          <p class="text-center" style="margin:0;">
            Tens que estar registado para começar projectos!<br>
            Regista-te <%= link_to "aqui", register_path %>, é fácil!
          </p>
        <% end %>
      </div>
      <!-- <div class="modal-footer" style="background-color: #ecf0f1;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div> -->
    </div>
  </div>
</div>
