<div class="row-col ng-scope layout-fill">
  <%= render 'projects/aside_show' %>
  <div class="col-sm-12">
    <div class="p-a light clearfix nav-active-primary top b-b b-grey-500">
      <ul class="nav nav-pills nav-sm no-borders">
        <% if (@project.opened? || (user_signed_in? && ((current_user.id == @project.user_id) || (@project.closed? && @project_friendship.present? && @project_friendship.accepted?)))) %>
          <li class="nav-item" aria-expanded="false">
            <a class="nav-link active text-sm" href="" data-toggle="tab" data-target="#feed" aria-expanded="true">Feed</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link text-sm <% if !(@project.opened? || (user_signed_in? && ((current_user.id == @project.user_id) || (@project.closed? && @project_friendship.present? && @project_friendship.accepted?)))) %>active<% end %>" href="" data-toggle="tab" data-target="#messages" aria-expanded="false">Messages</a>
        </li>
        <% if user_signed_in? && current_user.id == @project.user_id %>
          <li class="nav-item">
            <a class="nav-link text-sm" href="" data-toggle="tab" data-target="#settings" aria-expanded="false">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-sm" href="" data-toggle="tab" data-target="#stats" aria-expanded="false">Stats</a>
          </li>
        <% end %>
        <!-- <li class="nav-item">
          <a class="nav-link text-sm" href="" data-toggle="tab" data-target="#tab_3" aria-expanded="false">Ideas</a>
        </li>
        <li class="nav-item text-sm"><a class="nav-link" href="" data-toggle="tab" data-target="#tab_4" aria-expanded="false">Resources</a>
        </li> -->
      </ul>
    </div>
    <div class="p-a light layout-fill">
      <%= render 'projects/content' %>
    </div>
  </div>

<!-- Modal New Appliance -->
<div id="new-appliance" class="modal black-overlay ng-scope m-t-lg" data-backdrop="false">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
      <% if user_signed_in? %>
        Estamos prestes a submeter a tua candidatura a este projecto.<br>Tens a certeza?
      <% else %>
        <p class="text-center" style="margin:0;">
          Tens que estar registado para começar projectos!<br>
          Regista-te <%= link_to "aqui", register_path %>, é fácil!
        </p>
      <% end %>
      </div>
      <% if user_signed_in? %>
      <div class="modal-footer" style="background-color: #ecf0f1;">
        <%= form_for [@project, Appliance.new] do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <% if current_user == @project.user %>
            <%= f.hidden_field :state, :value => 'accepted' %>
          <% else %>
            <%= f.hidden_field :state, :value => 'pending' %>
          <% end %>
          <%= f.submit 'Sim, quero candidatar-me!', :class => 'btn btn-primary btn-block'  %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Modal New Resource -->
<div id="new-resource" class="modal black-overlay ng-scope m-t-lg" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <% if user_signed_in? %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="margin-top:-10px;">&times;</span></button>

        <%= form_for [@project, Resource.new] do |f| %>
          <%= f.hidden_field :user_id %>
          <% if current_user == @project.user %>
            <%= f.hidden_field :state, :value => 'accepted' %>
          <% else %>
            <%= f.hidden_field :state, :value => 'pending' %>
          <% end %>
          <div class="form-group">
            <label for="name" class="control-label" style="color:#34495e;">Titulo</label>
            <%= f.text_field :name, class: "form-control", type: "text" %>
          </div>
          <div class="form-group">
            <label for="description" class="control-label" style="color:#34495e;">Breve Descrição</label>
            <%= f.text_field :description, class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="link" class="control-label" style="color:#34495e;">Link Anexo</label>
            <%= f.text_field :link, class: "form-control" %>
          </div>
          <%= f.submit 'Submeter Recurso', :class => 'btn btn-primary btn-block'  %>
        <% end %>
        <% else %>
          <p class="text-center" style="margin:0;">
            Tens que estar registado para começar projectos!<br>
            Regista-te <%= link_to "aqui", register_path %>, é fácil!
          </p>
        <% end %>
      </div>
      <!-- <div class="modal-footer" style="background-color: #ecf0f1;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div> -->
    </div>
  </div>
</div>
<!-- Modal New Idea -->
<div id="new-idea" class="modal black-overlay ng-scope m-t-lg" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <% if user_signed_in? %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="margin-top:-10px;">&times;</span></button>

        <%= form_for [@project, Idea.new] do |p| %>
          <%= p.hidden_field :user_id %>
          <% if current_user == @project.user %>
            <%= p.hidden_field :state, :value => 'accepted' %>
          <% else %>
            <%= p.hidden_field :state, :value => 'pending' %>
          <% end %>
          <div class="form-group">
            <label for="recipient-name" class="control-label" style="color:#34495e;">Titulo</label>
            <%= p.text_field :name, class: "form-control", type: "text" %>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label" style="color:#34495e;">Breve Descrição</label>
            <%= p.text_field :description, class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="link" class="control-label" style="color:#34495e;">Link Anexo</label>
            <%= p.text_field :link, class: "form-control" %>
          </div>
          <%= p.submit 'Submeter Ideia', :class => 'btn btn-primary btn-block'  %>
        <% end %>
        <% else %>
          <p class="text-center" style="margin:0;">
            Tens que estar registado para começar projectos!<br>
            Regista-te <%= link_to "aqui", register_path %>, é fácil!
          </p>
        <% end %>
      </div>
      <!-- <div class="modal-footer" style="background-color: #ecf0f1;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div> -->
    </div>
  </div>
</div>
